<li>
    <p>
            <% if((locals.user && locals.user.id == comment.user._id)|| post.user){ %>
                <small>
    <a href="/comments/destroy/<%= comment.id%>">X</a>
    </small>
  <% } %>
    
  
           
    <%= comment.content %>
   <%= comment.user.name%>
</p>

</li>