<h1>Forgot/Reset Password</h1>
 
<form action="/users/reset_password" method="post">
    <input type="email" name="email" placeholder="enter your email"><br>
    <input type="password" name="password" placeholder="enter password"><br>
        <input type="password" name="confirm_password" placeholder="Confirm password"><br>
        <button>Submit</button>
 
    
</form>