
<link rel="stylesheet" href="/css/user_signin.css">
<h1 id="heading">User Sign In</h1>
<form action="/users/create-session" method="post">
    <input type="email"name="email" placeholder="Email" required>
    <input type="password"name="password" placeholder="Password" required>
    <button type="submit">
        Sign In
    </button>

    <button id="google-signin"><a href="/users/auth/google">Sign In with Google</a></button>
    <p><a href="/users/forgot-password">Forgot Paaword</a></p>
    

</form>