#user-chat-box::-webkit-scrollbar {
    display: none;
  }
#user-chat-box
{
    position:fixed;
    bottom:4px;
    right:10px;
    height:280px;
    width:300px;
    background-color:lightcyan;
    box-shadow:1px 1px 1px 1px lightgreen;
    z-index:1;
    border:2px dotted grey;
    // overflow-y: scroll;

    
#chat-message-list
{
    list-style: none;
    overflow:auto;
    height:78%;
    overflow-y: scroll;
    .other-message
    {
        text-align:left;
        padding:5px;
        margin-left:-40px;
        
        span {
            display:inline-block;
            padding:10px;
           
            background-color: pink;;

        }
    }
    .self-message
    {
        text-align:right;
        padding:5px;
        span{
            display:inline-block;
            padding:10px;
            background-color:lightgreen;

        }
    }
}
#chat-message-input-container
{
    height:16%;
    width:100%;
    display:flex;
    #chat-message-input{
        height:70%;
        width:76%;


    }
    #send-message
    {
        height:70%;
        width:25%; 
        font-size:15px;
        background-color:red;
        border:1px solid red;
        color:white;
    }


    
}
}