#home-container
{
    display:flex;
    font-size:18px;
    height:85%;

    #feed-posts
    {
        width:70%;
        padding:10px;
        position:absolute;
        
    }
    aside
    {
        width:30%;
        position:relative;
        left:100%;
        margin-top:-630px;
        border-left:1px solid lightgrey;
        
       
       
    
    #user-friends
    {
       
        height:70%;
        padding:10px;
        height: 2px;
        
       
       
       
        
    }
    a{
        text-decoration:none;
       
    }
     #users
    {
        
         height:100%;
         padding:10px;
         margin-top:45%;
        
    
     }
    }
}