#home-container
{
    display:flex;
    font-size:18px;
    height:auto;
    
   

    #feed-posts
    {
        width:70%;
        padding:10px;
        position:absolute;
        
        
        
    }
    #likes,#comment-likes
    {
        color:blue;
        font-size:17px;
    }
    .delete-post-button ,.delete-comment-button
    {
        color:red;
        text-decoration:none;
    }
    #comment-button,#post-button
    {
        background-color:green;
        border:1px solid green;
        height:25px;
        color:white;
    }
    p
    {
        font-size:18px;
    }
    aside
    {
        width:30%;
        position:relative;
        left:100%;
        
        margin-top:-790px;
        
         border-left:1px solid grey;
        
       
       
    
    #user-friends
    {
       
        // height:50%;
        padding:10px;
        padding-top: 0px;
        margin-bottom:-20px;
        margin-top:-10%;
        height: 2px;
        
        
       
       
       
        
    }
    a{
        text-decoration:none;
        color:blue;
        animation: alternate;
        
    }
     #users
    {
        
         height:80%;
         padding:10px;
         margin-top:45%;
        
    
     }
     #user-profile
     {
         height:25px;
         width:25px;
         border-radius:50%;
     }
    }
}