#header-container {
  height: 40px;
  width: 100%;
  background-color: blue; }
  #header-container h1 {
    display: block-inline;
    position: absolute;
    margin-top: 0px;
    display: flex;
    color: white; 
  }
  #header-container ul {
    list-style: none;
    position: relative;
    top: 0px;
    left: 1300px;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    padding-top: 7px; }
    #header-container ul a {
      text-decoration: none;
      color: white; }
